ibw_jobeet_job:
    resource: "@IbwJobeetBundle/Resources/config/routing/job.yml"
    prefix:   /job
    
ibw_jobeet_category:
    pattern: /category/{slug}/{page}
    defaults: {_controller: IbwJobeetBundle:Category:show, page:1}

ibw_jobeet_homepage:
    path:     /
    defaults: { _controller: IbwJobeetBundle:Job:index }

login:
    pattern:   /login
    defaults:  { _controller: IbwJobeetBundle:Default:login }
login_check:
    pattern:   /login_check
logout:
    pattern:   /logout    
    
ibw_jobeet_api:
    pattern:   /api/{token}/jobs.{_format}
    defaults:  { _controller: IbwJobeetBundle:Api:list }
    requirements:
        _format: xml|json|yaml


