{% extends "IbwJobeetBundle::layout.html.twig" %}

{% block content %}
<div class="content">
    <h1>{% trans %}YYour affiliate account has beeen created!{% endtrans %}Y</h1>
    <div style="padding: 20px;">
        {% trans %}YThank you!
        You will receive an email with your affilite token as soon as your account will be activated.{% endtrans %}Y
    </div>
</div>
{% endblock%}