<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Jobeet</title>
    <subtitle>Latest Jobs</subtitle>
    <link href="" rel="self"/>
    <link href=""/>
    <updated></updated>
    <author><name>Jobeet</name></author>
    <id>Unique Id</id>

    <entry>
        <title>Jobeet</title>
        <subtitle>Latest Jobs</subtitle>
        <link href="{{ url('ibw_job', {'_format': 'atom'}) }}" rel="self"/>
        <link href="{{ url('ibw_jobeet_homepage') }}"/>
        <updated>{{ lastUpdated }}</updated>
        <author><name>Jobeet</name></author>
        <id>{{ feedId }}</id>
    </entry>
    
</feed>



